$main-transtion: 0.3s;
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #c5e4e7;
  font-family: "ubuntu";
}
span {
  display: block;
  margin-bottom: 10px;
  color: hsl(183, 100%, 15%);
  letter-spacing: 1px;
  font-weight: 500;
}
.logo {
  position: relative;
  width: fit-content;
  z-index: 1;
  margin: 100px auto;
  @media (max-width: 767px) {
    margin: 20px auto;
  }
}
#app {
  width: 800px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
  margin: 40px 0;
  border-radius: 20px;
  background-color: white;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  @media (max-width:290px) {
    top: 70%;
  }
  .controls,
  .output {
    border-radius: 15px;
    padding: 10px;
    flex: 1;
  }
  .controls {
    .bill {
      position: relative;

      padding: 10px 0;
    }
    img {
      position: absolute;
      top: 55%;
      left: 20px;
    }
    input {
      overflow: auto;
      border-radius: 3px;
      outline: none;
      border: none;
      background-color: #f3f8fb;
      padding: 10px;
      width: 100%;
      font-weight: 700;
      color: hsl(183, 100%, 15%);
      font-size: 23px;
      text-align: end;
      color: hsl(183, 100%, 15%);
      &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      &:focus {
        box-shadow: 0 0px 7px hsl(172, 67%, 45%);
      }
    }
    .tip {
      margin: 30px 0;
      .tip__options {
        padding: 5px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        .option {
          flex-basis: calc(90% / 3);
          background-color: hsl(183, 100%, 15%);
          padding: 10px;
          text-align: center;
          color: white;
          border-radius: 3px;
          font-weight: 700;
          font-size: 20px;
          cursor: pointer;
          transition: $main-transtion;
          &.option--active {
            background-color: hsl(172, 67%, 45%);
            color: black;
          }
          &:hover {
            background-color: #9ee8df;
          }
          &.custom {
            position: relative;
            padding: 0;
            font-weight: 400;
            color: hsl(183, 100%, 15%);
            background-color: hsl(189, 41%, 97%);
            &::before {
              content: "Custom";
              position: absolute;
              left: 0;
              top: 0;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              background-color: hsl(189, 41%, 97%);
            }
            &.active::before {
              display: none;
            }
            input {
              text-align: start;
            }
          }
        }
      }
    }
    .people {
      position: relative;
      input {
        &.error {
          box-shadow: 0px 0px 7px red;
        }
      }
    }
  }
  .output {
    max-width: 385px;
    background-color: hsl(183, 100%, 15%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      -webkit-overflow: auto;
      -moz-overflow: auto;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 1px;
      }
      &::-webkit-scrollbar-track{
        background-color: hsl(183, 100%, 15%);
      }
      &::-webkit-scrollbar-thumb{
        background-color: hsl(172, 67%, 45%);
        border-radius: 10px;
      }
      span:first-child {
        position: relative;
        color: white;
        margin-right: 30px;
        &::before {
          content: "person";
          position: absolute;
          left: 0;
          bottom: -20px;
          color: hsl(185, 41%, 84%);
          font-size: 13px;
        }
      }
      span:last-child {
        color: hsl(172, 67%, 45%);
        font-size: 40px;
        font-weight: 700;
        @media (max-width:767px) {
          font-size: 30px;
        }
      }
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 10px;
      text-align: center;
      background-color: #26c2ac;
      color: black;
      border-radius: 4px;
      font-size: 18px;
      margin: 20px 0 0;
      cursor: pointer;
      transition: $main-transtion;
      &:hover {
        background-color: #9ee8df;
      }
    }
  }
}
